$RESOURCES$
- https://www.geeksforgeeks.org/python/python-data-types
- [Python Documentation](https://docs.python.org/3/library/datatypes.html)
- [Revision Resource](https://realpython.com/cheatsheets/python/)

## SEQUENCE DATA TYPES

Following methods on a sequence types: LIST and TUPLE
- `len(list)` - To find the number of elements 
- `max(list)` - gives the highest element/values 
- `min(list)` - gives the lowest element/value

- `index(value)` - will reveal the index of an element
- `count(value)` - count of a particular value

- packing/ unpacking - 

- membership test - use `in` or `not in` operation to check whether something is inside a list or tuple
 
Work on Lists -
- `append()` - Add another element to the end of the list - at the last index
- `clear()` - removes everything
- `insert(index,value)` - insert an element at an index, and move other elements ahead - target *index,value*
- `pop()` - used to get and remove last element, but you can target *index*
- `remove(value)` - will delete the first occurence of an element - target *element/value*

- `reverse()` -  invert the order
- `sort()` - sort the elements in a list

Work on tuples - 
- shallow immutability - saving a mutable list within a tuple
- packing / unpacking - here you don't even need the ( )

## 1. Strings

DONE!!

## 2. List

- most common and most versatile **data structures** in python
- is data type, but it saves various things in just one object
- 
- as a series of boxes, that have a single address

- variable is just a location
- 
- Lists are Mutable - modifyable

In [ ]:
fruits = ["apple", "banana", "mango"]
fruits

x = 16 # int 
x1 = 12 # int

num = [16,12]

In [ ]:
import sys

x = 999999999 # Integer 28 bytes -  9 nine times
print(sys.getsizeof(x))

x = 14.22 # float # 24 bytes
print(sys.getsizeof(x))

x = 'a' # str 42 bytes
print(sys.getsizeof(x))

x = [1.2,2,5] # list 56 bytes
print(sys.getsizeof(x))

- int - 28 bytes of memory
- string - 42 for one character, then 1 byte for each additional
-

- add more elements to the same list, and change the contents
-

In [ ]:
num = [10,20,30,40]
print(num)

#### LIST COMPREHENSION

new_list = [`expression` for `item` in `iterable` if `condition`]

```python
numbers = [1, 2, 3, 4, 5]
squares = [x ** 2 for x in numbers]
print(squares) # Output: [1, 4, 9, 16, 25]

In [ ]:
# OPTIONAL
# LIST COMPREHENSION

num = [x for x in range(0,100)]

num[99]

In [ ]:
# access each element

num100 = num[100]
num100

In [ ]:
# slicing works for List tuples too
# num = [ 0, 1, 2 ,3 , ... 100]

# slicing can help us get a small slice of this list

num[0:10] # first 10 elements # start, stop
num[10:] #  where to start  # start: auto go to end
num[:20]  #  first 20 elements  # auto start form beginning: end
num[::1] # print all
num[::] # print all
num[:] # print all

num[0:30:2] # first even numbers upto 30 # start: stop : step
num[10:0:-1] # start from 0 go back to end, and start backwards
num[:50:-1] # auto start from end, go to 50 # auto start: end : step

In [ ]:
num = [10,20,30,40]

num[0] = 33

print(num)

[33, 20, 30, 40]

> ### Transaction Database for a general store

In [22]:
# multiple types of data

# Row schema
# 0 - serial, 1 - name, 2 - payment, 3 - method, 4 - membership

# customer# = [serial, name, payment, method, ]

customer1 = [1, 'idrees', 45.55, 'card']
customer2 = [2, 'saufi', 15.00, 'cash']
customer3 = [3, 'gregory', 25.00, 'cash']

customer4 = [4, 'sharifah', 30.00, 'card']

# check payment
customer1[2] = 65
customer1

# 2D List
# customer list              0           1          2
general_store_customers = [customer1, customer2, customer3]

# First customers name
general_store_customers[0][1]

# check for the last customer
general_store_customers[-1]

[3, 'gregory', 25.0, 'cash']

### List Operations

In [34]:
general_store_customers.append(customer4)

general_store_customers

[[1, 'idrees', 65, 'card'],
 [2, 'saufi', 15.0, 'cash'],
 [3, 'gregory', 25.0, 'cash'],
 [4, 'sharifah', 30.0, 'card'],
 [4, 'sharifah', 30.0, 'card'],
 [4, 'sharifah', 30.0, 'card']]

In [36]:
last = general_store_customers.pop()
last

[4, 'sharifah', 30.0, 'card']

In [85]:
third = general_store_customers.pop(2)
third

[4, 'sharifah', 30.0, 'card', True]

In [37]:
len(general_store_customers)

4

In [93]:
general_store_customers

[[1, 'idrees', 65, 'card', True],
 [2, 'saufi', 15.0, 'cash', True],
 [4, 'sharifah', 30.0, 'card', True],
 [3, 'gregory', 25.0, 'cash', False]]

In [ ]:
# write a for loop add membership to all the rest 3 customers
for i in range(4):
    general_store_customers[i].append(True)

In [79]:
# membership for gregory is incorrect
# it should be false
general_store_customers[2][4] = False

In [92]:
# how do we remove the second customer, because it was added wrongly
general_store_customers.remove(customer2)

In [100]:
# we will try to add customer2 and customer4 again to the list

general_store_customers.insert(1,customer2)
# inserted the value, not update

[4, 'sharifah', 30.0, 'card', True]

---

In [159]:
num = [1,2,3,4,3,6,7,3,9]

In [161]:
len(num)

num.index(3)

min(num)
max(num)

num.append(2)
num

num.pop()
num

num.index(6)

num.count(3)

num.remove(3)
num

num.reverse()
num

[9, 7, 6, 4, 2, 1]

In [222]:
num

num.index(2)
num.insert(2, 'idrees')
num

[1, 2, 'idrees', 3, 4]

## 3. Tuple

- Tuples are immutable
- cannot modify them, once made

In [ ]:
num_tuple = (10,20,30,40)
print(num_tuple)

# access using index
num_tuple[3] 

# modify using index
num_tuple[0] = 33 # DOES NOT WORK
# BECAUSE TUPLE IS IMMUTABLE

(10, 20, 30, 40)

TypeError: 'tuple' object does not support item assignment

In [88]:
idrees = (0, 'idrees', 45.55, 'card')
idrees[2] = 65

TypeError: 'tuple' object does not support item assignment

In [223]:
# co ordinates of places

coords_KualaLumpur = (03.0852, 101.4143)
coords_KualaLumpur

(3.0852, 101.4143)

In [ ]:
# store ids - usernames
# we want to be immutables

worker1  = (1,"jean123")
worker2 =  (2,"erenyeager")
worker3 =  (3,"mikasa")

worker4 =  (4,"levi")

In [165]:
# data box for workers
workers = (worker1,worker2,worker3)

### Tuple Operations

In [167]:
# workers.append(worker4)

# Won't work because its a list method

# TUPLES ARE IMMUTABLE - change tuples

In [168]:
# data box for workers
workers = [worker1,worker2,worker3]

In [169]:
workers.append(worker4)
workers

[(1, 'jean123'), (2, 'erenyeager'), (3, 'mikasa'), (4, 'levi')]

In [ ]:
# tuples cannot be modified
worker1[1] = 'idrees'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# when using tuples

# both store heterogenous data - multiple types of data

# shallow immutability

sample_tuple = (0,1,2,[1, 'idrees', 65, 'card', True],'idrees')

In [177]:
sample_tuple[3][1] = 'Lina'

In [179]:
sample_tuple[3].append('Sharifah')

In [180]:
sample_tuple

(0, 1, 2, [1, 'Lina', 65, 'card', True, 'Sharifah'], 'idrees')

#### - tuple packing / unpacking

In [ ]:
# bagging a couple of elements s into item variable
item = 11 , [1,2,"a"]

# list unpacking
a , b = item 

x , y, z = 100, 200, 300

In [200]:
t = (1,2,3,4)

a,b,c,d = t

p,q,r,s = t

In [219]:
# packing unpacking

x , y = 20 , 40
print(f"x: {x}, y: {y}")

y, x = x, y

print(f"x: {x}, y: {y}")

x: 20, y: 40
x: 40, y: 20

In [212]:
3 not in t

False