## 3. Set

A set is simply a collection of distinct objects.
- un ordered - no first or last
- { } - in maths, we use the same notation for sets
- sets do not allow duplicates - auto removes duplicates
- unindexed - no indexes and cannot use [0] or [1] etc

- https://www.geeksforgeeks.org/maths/sets/
- [SET OPERATIONS](https://www.geeksforgeeks.org/maths/set-operations/)

In [ ]:
items = { 1,2,3,4,5}

- can bag multiple types in SETs

In [70]:
itemsx = { 1,'2',3,'4'}
itemsx = { 1,'2',3,'4', (5,2) } # tuples

In [71]:
itemsx = { 1,'2',3,'4', [5,2] } # list will need indexes
itemsx = { 1,'2',3,'4', (5,2), {'a':1,'b':3} } # dictionaries
itemsx = { 1,'2',3,'4', (5,2), {'a','b',3} } # sets

TypeError: unhashable type: 'list'

In [35]:
items = {}
items

{}

In [33]:
# add more elements
items.add(8)

# discard an element
items.discard(8)

#clear - remove everything
items.clear()

In [ ]:
item_list = list(items)
item_list

int(3.5)
int('3')

3

In [29]:
list1 = [1,2,3,4,4,4,4,4,4,4,4,4,4]

# remove duplicates
set1 = set(list1)
list1 = list(set1)

# remove duplicates
list1 = list(set(list1))

list1

[1, 2, 3, 4]

#### SET OPERATIONS

In [36]:
a = {1,2,3,4}
b = {3,4,5,6}

In [52]:
c = list(b)
c.reverse()
c.sort()

c

[3, 4, 5, 6]

In [ ]:
# UNION
union_op = a | b
union_op = a.union(b)
union_op

# INTERSECTION
intersection_op = a & b
intersection_op = a.intersection(b)
intersection_op

# Difference
difference_op = a - b
difference_op = a.difference(b)
difference_op

{1, 2}

### Examples:
- where we can use sets?

In [ ]:
# filters

# merging files

# remvoing duplicates
emails = ['eren@work.com','mikasa@work.com','eren@work.com','levi@work.com']

emails = list(set(emails))
emails

#

['mikasa@work.com', 'levi@work.com', 'eren@work.com']

---

## 4. Dictionary

- a set(or collection) of key - value pairs 
- used with these - `{ }` - 
- can store multiple types of data elements
- can access elements by targets thier keys like ['key']
-

In [80]:
student1 = {
    'name': 'idrees'
}

In [ ]:
# saving different types of data in a single dictionary
# values can be anything - int float str bool list tuple dictionary
student1 = {
    'name': 'idrees',
    'regID': 2345,
    'subjects': ['poetry', 'maths', 'computer', 'physics'],
    'subjects_tuple': ('poetry', 'maths', 'computer', 'physics'),
    'subjects_set': {'poetry', 'maths', 'computer', 'physics'},
    'subjects_dict': {'sub1': 'poetry','sub2':  'maths','sub3':  'computer','sub4':  'physics'}
}

student1

{'name': 'idrees',
 'regID': 2345,
 'subjects': ['poetry', 'maths', 'computer', 'physics'],
 'subjects_tuple': ('poetry', 'maths', 'computer', 'physics'),
 'subjects_set': {'computer', 'maths', 'physics', 'poetry'},
 'subjects_dict': {'sub1': 'poetry',
  'sub2': 'maths',
  'sub3': 'computer',
  'sub4': 'physics'}}

In [ ]:
# if keys are same!! 
# works just like a set
{
 'sub1': 'poetry',
 'sub1':  'maths',
 'sub1':  'computer',
 'sub1':  'physics' # last value is taken
}

{'sub1': 'physics'}

In [ ]:
# what keys are accepted
# keys - Strings Integer Float Bool Tuple
# keys - can't be - list or dictionary - UNHASHABLE
# strings are mostly used
dict_a = { 'a' : 10}
dict_a

{'a': 10}

In [98]:
dict_a = { True : 10, False: 44, (): 33}
dict_a

{True: 10, False: 44, (): 33}

In [148]:
student1 = {
    'name': 'idrees',
    'regID': 2345,
    'subjects': ['poetry', 'maths', 'computer', 'physics']
}

### Dictionary Operations

#### add - add a key value pair

In [131]:
student1['age'] = 89
# just access the dictionary, access a new key, that does not exist, and assign value
# it will be added to the dictionary

#### update - existing values

In [ ]:
student1['name'] = 'Lina'

In [ ]:
# we are accessing a list
student1['subjects'].append('philosophy')

In [ ]:
student1['subjects'].remove('maths')

In [143]:
student1['subjects'].pop(3)

'philosophy'

#### delete - a key value pair

In [135]:
del student1['age']

In [146]:
student1

{}

In [176]:
# student1['new_key] = new_value                # new key value pair
# student1['existing_key] = new_value           # modify/update existing key value pair
# del student1['existing_key]                   # delete an existing key value pair
# student1.clear() # will remove everything     # remove everything from dictionary
# new_copy_name = student1.copy()               # creates a new copy of the dictionary

# student1.items()                              # dict_items object to see everything inside
# student1.keys()                               # dict_keys object to get the keys only
# student1.values()                             # dict_values object to get the values only
# value_variable_name = student1.get('key')                           # save a value for a key

### Loop over the dictionary

In [154]:
student1.items()

dict_items([('name', 'idrees'), ('regID', 2345), ('subjects', ['poetry', 'maths', 'computer', 'physics'])])

In [164]:
# carries 3 tuples
for i in student1.items():
    print(i)

('name', 'idrees')
('regID', 2345)
('subjects', ['poetry', 'maths', 'computer', 'physics'])

In [ ]:
for key, value in student1.items():
    print(key)

name
regID
subjects
name
regID
subjects

In [ ]:
# range
# list
# tuple

# dictionaries can't be iterated over

0

In [173]:
for key in student1.keys():
    print(key)

name
regID
subjects

In [174]:
for value in student1.values():
    print(value)

idrees
2345
['poetry', 'maths', 'computer', 'physics']

In [ ]:
student_name = student1.get('name')
student_name

'idrees'

### Excercise:
- create a small dictionary:
```
Name: Idrees  
Age: 24  
Course: AI/ML  
Attendance: 92  
Passed: True
```

- change `age` to 38
- change `Course` to `Subjects` save computer science, design, literature, poetry
- get all the `items`, and print `keys` and `values`