# $Data Cleaning- Part-1$

- before we start data analysis, or machine learning, our data needs to be cleaned first
- this step is also called: **Data Preprocessing**
- 
- Real world data is messy:
    - full of errors - typos
    - missing data
    - outliers
    - duplicates

Lesson Outlines:

0. Exploratory Data Analysis

1. Handling Missing Values
2. Removing Duplicates
3. Fixing Data Types
4. Handling Outliers
    - Normalization
    - Variance, Standard Deviation, Distributions
    - Stardardization

> Additional Information:
 
- **Transformation** - apply mathematical operations/functions to change the **distribution** or **scale** of our data.
    - Data Distribution and Data Scaling
- **Normalization** - Adjust the values to a common scale without distorting range. No feature dominates the other in the analysis, due to scale.
    - Min Max Scaling, z-score Normalization
- **Standardization** - Convert data to a standard format. Rescale the values of features to a common scale often between 0 to 1. 
    - One Hot Encoding

> You will need to look into these yourself as well.

### Data Ingestion
- data import, or bringing in data

```python
import pandas as pd

df = pd.read_csv
df = pd.read_excel
df = pd.read_json
df = pd.read_parquet
df = pd.read_pickle
df = pd.read_html
```

In [39]:
import pandas as pd

# df_gdp_us = pd.read_csv('gdp_us_dollars.csv')
# df_gni_cp = pd.read_csv("gni_at_current_prices.csv")
# df_gni_us = pd.read_csv('gni_us_dollars.csv')

# df_gdp_us.head()

# this data is clean. So what is there to learn from it?

- To simulate errors and clean the data, we will use a artificial hand made example:

In [40]:
# Sample dataset of e-commerce transactions
# Create a dictionary of multiple data items
data = [
    {"Transaction ID": 1001, "Customer Name": "Alice Smith",    "Email": "alice@example.com",           "Product": "Laptop", "Quantity": 1,     "Price": 1200.00, "Purchase Date": "2024-09-15", "Delivery Status": True},
    {"Transaction ID": 1002, "Customer Name": "Bob Jones",       "Email": None,                         "Product": "Headphones", "Quantity": 2, "Price": 150.00, "Purchase Date": "2024-09-16", "Delivery Status": True},
    {"Transaction ID": 1003, "Customer Name": "Charlie Johnson", "Email": "charlie#example.com",         "Product": "Smartphone", "Quantity": 5, "Price": 800.00, "Purchase Date": "16/09/2024", "Delivery Status": True},
    {"Transaction ID": 1004, "Customer Name": "David Lee",       "Email": "david.lee@example.com",      "Product": "Laptop", "Quantity": 1,    "Price": 1200.00, "Purchase Date": "2024-09-17", "Delivery Status": False},
    {"Transaction ID": 1005, "Customer Name": "Eve Martinez",    "Email": "eve.martinez@example.com",   "Product": "Smartwatch", "Quantity": 2,"Price": None, "Purchase Date": "17th Sep 2024", "Delivery Status": True},
    {"Transaction ID": 1006, "Customer Name": "Frank Wright",    "Email": None,                         "Product": "Tablet", "Quantity": None, "Price": 600.00, "Purchase Date": "2024-09-18", "Delivery Status": False},
    {"Transaction ID": 1007, "Customer Name": 23,                "Email": "grace.lee@example.com",     "Product": "Laptop", "Quantity": 1,    "Price": 1200.00, "Purchase Date": "2024-09-19", "Delivery Status": True},
    {"Transaction ID": 1008, "Customer Name": "Hank Brown",      "Email": "hank.brown@example.com",     "Product": "Monitor", "Quantity": 2,   "Price": 300.00, "Purchase Date": "09/19/2024", "Delivery Status": True},
    {"Transaction ID": 1009, "Customer Name": "Ivy Thompson",    "Email": None,                          "Product": "Keyboard", "Quantity": 2, "Price": 100.00, "Purchase Date": "2024/09/20", "Delivery Status": False},
    {"Transaction ID": 1010, "Customer Name": "Jack Davis",      "Email": "jack@example.com",           "Product": "Mouse", "Quantity": 1,     "Price": 50.00, "Purchase Date": "2024-09-21", "Delivery Status": True},
    {"Transaction ID": 1011, "Customer Name": "Alice Smith",    "Email": "alice@example.com",           "Product": "Laptop", "Quantity": 1,    "Price": 1200.00, "Purchase Date": "2024-09-15", "Delivery Status": True},  # Duplicate entry
    {"Transaction ID": 1012, "Customer Name": "Kurt Evans",     "Email": "kurt.evans@example.com",       "Product": "Smartwatch","Quantity": -1,"Price": 200.00, "Purchase Date": "2024-09-22", "Delivery Status": True},  # Outlier quantity
    {"Transaction ID": 1013, "Customer Name": "Liam Adams",     "Email": "liam.adams@example.com",      "Product": "Headphones", "Quantity": 2, "Price": 150.00, "Purchase Date": "2024-09-23", "Delivery Status": False},
    {"Transaction ID": 1014, "Customer Name": "Mia Clark",       "Email": "mia.clark@example.com",       "Product": None, "Quantity": 1,        "Price": 0,      "Purchase Date": "2024-09-24", "Delivery Status": True},  # Price anomaly
    {"Transaction ID": 1015, "Customer Name": "Nina Turner",     "Email": None,                         "Product": "Tablet", "Quantity": 1,     "Price": 600.00, "Purchase Date": "24-09-2024", "Delivery Status": True},
    {"Transaction ID": 1016, "Customer Name": "Oscar Harris",    "Email": "oscar.harris@example.com",    "Product": "Laptop", "Quantity": 2,    "Price": 1200.00, "Purchase Date": "2024-09-25", "Delivery Status": True},
    {"Transaction ID": 1017, "Customer Name": "Paul Young",     "Email": "paulyoung",                    "Product": "Monitor", "Quantity": 2,   "Price": 300.00, "Purchase Date": "09/25/2024", "Delivery Status": True},
    {"Transaction ID": 1018, "Customer Name": "Quinn Lopez",    "Email": None,                           "Product": "Smartphone", "Quantity": 1,"Price": 800.00, "Purchase Date": "2024-09-26", "Delivery Status": False},
    {"Transaction ID": 1019, "Customer Name": "Rachel Scott",    "Email": "rachel.scott@example.com",    "Product": "Keyboard", "Quantity": 2,  "Price": 100.00, "Purchase Date": "2024-09-27", "Delivery Status": True},
    {"Transaction ID": 1020, "Customer Name": "Steve King",     "Email": "steve.king@example.com",       "Product": "Mouse", "Quantity": None,  "Price": 50.00, "Purchase Date": "2024-09-28", "Delivery Status": True},
]

# Displaying the dataset
import pandas as pd

# Convert the list of dictionaries to a DataFrame for easier visualization and manipulation
df = pd.DataFrame(data)
df.head()

,Transaction ID,Customer Name,Email,Product,Quantity,Price,Purchase Date,Delivery Status
0,1001,Alice Smith,alice@example.com,Laptop,1.0,1200.0,2024-09-15,True
1,1002,Bob Jones,NaN,Headphones,2.0,150.0,2024-09-16,True
2,1003,Charlie Johnson,charlie#example.com,Smartphone,5.0,800.0,16/09/2024,True
3,1004,David Lee,david.lee@example.com,Laptop,1.0,1200.0,2024-09-17,False
4,1005,Eve Martinez,eve.martinez@example.com,Smartwatch,2.0,NaN,17th Sep 2024,True

#### 1. Data Exploration 
df methods to get the big picture
- `df.head()` - to get top 5 # `.tail()`, `.sample()`
- `df.info()`
    - give away if there are any null values
    - give away errors in data - by checking the type of data
- `df.describe()` - gives the statistical measures related to data
- `df.sample()` - give away random records from data
- `df.isnull().sum()` - return the number of missing values
- `df.duplicated().sum()` - return the number of duplicated rows/records
- `df[df.duplicated()]` - show the duplicate rows
- `df['col_name'].head()` - top 5 from a specific column # `.tail()`, `.sample()`
- `df['col_name'].unique()` - gets the unique values in a catagory

In [41]:
# df_gdp_us.info()
# df_gni_cp.info()
# df_gni_us.info()

In [42]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Transaction ID   20 non-null     int64
 1   Customer Name    20 non-null     object
 2   Email            15 non-null     str
 3   Product          19 non-null     str
 4   Quantity         18 non-null     float64
 5   Price            19 non-null     float64
 6   Purchase Date    20 non-null     str
 7   Delivery Status  20 non-null     bool
dtypes: bool(1), float64(2), int64(1), object(1), str(3)
memory usage: 1.2+ KB

#### NaN Values - Missing Values
- `None`
- `NaN` (Not a Number)
    - In pandas saved as numpy objects

(OPTIONAL)
- MCAR (Missing Completely at Random): The missing data has no relationship with any other data. (e.g., a sensor battery died momentarily).

- MAR (Missing at Random): The missingness is related to another observed variable. (e.g., "Income" data is missing more often for "Younger" age groups).

- MNAR (Missing Not at Random): The missingness is related to the value itself. (e.g., People with very high debt are less likely to report their debt).

In [43]:
import numpy as np


numdata = {
    'a': [1, None, 3, 4],
    'b': [1, 2, 3, np.nan]
}

num_df = pd.DataFrame(numdata)

type(num_df['a'][1])
num_df['b'][3]

np.float64(nan)

---

## **Handling Missing Values**

#### **Deletion - NaN Values**
 - **listwise** - `df.dropna()`
     - Row Removal - other useful data can be lost as well
     - lose a *lot of data*
     - generally if the missing data is < 5%, then this method is acceptable 
 - **pairwise** - `df.corr()` `# .mean(), .corr(), .cov()`
     - save dataframe by implementing a maths operation
     - can we implement maths operation on strings? apart from float and int
     - Will automatically ignore the NaN values
 - **Targetted Dropping Rows** - `df.dropna(subset = ['col1', 'col2','col3'])`
     - drop rows with missing values for a specific column
     - delete rows of dataframe, focusing on a specific column at missing values
 - **Dropping Columns** - `df.drop(columns = ['col1', 'col2','col3'])`
     - drop a specific column from data
     - if 60 to 70% data is missing from a column
 - Deletion using **thresholds** - `df.dropna(thresh = 3, axis = 0)`  
     - keep the row, if there are atleast 3 non-null values
     - It acts on rows and columns, and we can set up thresholds ourselves

df.dropna()

In [44]:
# df.dropna() # these results are not saved anywhere

# df.dropna(inplace = True) # is used to update the dataframes as well

In [45]:
df_listwise = df.dropna()
df_listwise.info()

<class 'pandas.DataFrame'>
Index: 12 entries, 0 to 18
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Transaction ID   12 non-null     int64
 1   Customer Name    12 non-null     object
 2   Email            12 non-null     str
 3   Product          12 non-null     str
 4   Quantity         12 non-null     float64
 5   Price            12 non-null     float64
 6   Purchase Date    12 non-null     str
 7   Delivery Status  12 non-null     bool
dtypes: bool(1), float64(2), int64(1), object(1), str(3)
memory usage: 780.0+ bytes

In [46]:
# Correlation for each column
# .mean(), .corr(), .cov()
numeric_df = df[['Transaction ID',	'Quantity',	'Price']]

# if we implement maths operation on these
numeric_df.mean() # you see mean values on each of them

numeric_df.corr()

                Transaction ID  Quantity     Price
Transaction ID        1.000000 -0.226372 -0.345191
Quantity             -0.226372  1.000000  0.004823
Price                -0.345191  0.004823  1.000000

In [47]:
# Targetted NaN removal

df_row_wise = df.dropna(subset= 'Email')
df_row_wise

,Transaction ID,Customer Name,Email,Product,Quantity,Price,Purchase Date,Delivery Status
0,1001,Alice Smith,alice@example.com,Laptop,1.0,1200.0,2024-09-15,True
2,1003,Charlie Johnson,charlie#example.com,Smartphone,5.0,800.0,16/09/2024,True
3,1004,David Lee,david.lee@example.com,Laptop,1.0,1200.0,2024-09-17,False
4,1005,Eve Martinez,eve.martinez@example.com,Smartwatch,2.0,NaN,17th Sep 2024,True
6,1007,23,grace.lee@example.com,Laptop,1.0,1200.0,2024-09-19,True
7,1008,Hank Brown,hank.brown@example.com,Monitor,2.0,300.0,09/19/2024,True
9,1010,Jack Davis,jack@example.com,Mouse,1.0,50.0,2024-09-21,True
10,1011,Alice Smith,alice@example.com,Laptop,1.0,1200.0,2024-09-15,True
11,1012,Kurt Evans,kurt.evans@example.com,Smartwatch,-1.0,200.0,2024-09-22,True
12,1013,Liam Adams,liam.adams@example.com,Headphones,2.0,150.0,2024-09-23,False
13,1014,Mia Clark,mia.clark@example.com,NaN,1.0,0.0,2024-09-24,True
15,1016,Oscar Harris,oscar.harris@example.com,Laptop,2.0,1200.0,2024-09-25,True
16,1017,Paul Young,paulyoung,Monitor,2.0,300.0,09/25/2024,True
18,1019,Rachel Scott,rachel.scott@example.com,Keyboard,2.0,100.0,2024-09-27,True
19,1020,Steve King,steve.king@example.com,Mouse,NaN,50.0,2024-09-28,True

In [48]:
# Column Removal
df_del_column = df.drop(columns= 'Email')

df_del_multiple_columns = df.drop(columns = ['Transaction ID','Email','Customer Name','Purchase Date'] )
df_del_multiple_columns.head()

      Product  Quantity   Price  Delivery Status
0      Laptop       1.0  1200.0             True
1  Headphones       2.0   150.0             True
2  Smartphone       5.0   800.0             True
3      Laptop       1.0  1200.0            False
4  Smartwatch       2.0     NaN             True

In [49]:
# column NaN removal based on ---------- threshold 
# Keep the columns with atleast 15 non-null values
col_thresh = df.dropna(thresh = 3, axis = 1) # axis = 1 ------ means --------- Column
col_thresh.head()


# Keep the rows with atleast 8 non-null values
row_thresh = df.dropna(thresh = 7, axis = 0) # axis = 0 ------ means --------- Rows
row_thresh.info()

<class 'pandas.DataFrame'>
Index: 19 entries, 0 to 19
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Transaction ID   19 non-null     int64
 1   Customer Name    19 non-null     object
 2   Email            15 non-null     str
 3   Product          18 non-null     str
 4   Quantity         18 non-null     float64
 5   Price            18 non-null     float64
 6   Purchase Date    19 non-null     str
 7   Delivery Status  19 non-null     bool
dtypes: bool(1), float64(2), int64(1), object(1), str(3)
memory usage: 1.2+ KB

In [50]:
# selecting the best version after deletion operations

df = df_row_wise

In [51]:
df.info()

df.isnull().sum()

<class 'pandas.DataFrame'>
Index: 15 entries, 0 to 19
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Transaction ID   15 non-null     int64
 1   Customer Name    15 non-null     object
 2   Email            15 non-null     str
 3   Product          14 non-null     str
 4   Quantity         14 non-null     float64
 5   Price            14 non-null     float64
 6   Purchase Date    15 non-null     str
 7   Delivery Status  15 non-null     bool
dtypes: bool(1), float64(2), int64(1), object(1), str(3)
memory usage: 975.0+ bytes

Transaction ID     0
Customer Name      0
Email              0
Product            1
Quantity           1
Price              1
Purchase Date      0
Delivery Status    0
dtype: int64

#### **Imputation**

- Filling the `Nan` values 
- We add data, instead of removing it
- In data analysis, we rely on deletion more ---- the focus is facts
- But in Machine Learning, we rely more on imputation ---- the focus is predictions

**Numerical Imputation**
- Constant - `df.fillna(<constant value>)`
    - fill our nan values with constant
    - For Categorical columns you can fillna with "Unknown" 
    
- Mean - df.fillna(<mean>)
    - the average value of a column
    - used for numerial columns with continous values
    - mean is a good strategy, if data does not have many outliers
    - **Disadvantage**
        - if the column has outliers, mean value is affected a lot

- Median - df.fillna(<median>)
    - used when our data is skewed --- distribution is only on a side
        - if we had housing dataset, some few billionares are in dataset --- will shift the income to higher ends and skew the data
    - if data has outliers, median becomes a good choice

- Mode - 'df.fillna(df['Product'].mode()[0])'
    - you can fill missing values with Mode
    - **mode** is the most **frequent**/**repeated** value in a column
    - If there are two elements that behave as mode ----- two elements with the most frequency --- which equal for both
        - e.g. 1 comes 6 times and 2 comes 6 times
        - in this case there will be two modes for the features
        - you can access them using the .mode() series object



**Advanced - Model Based Imputation** - (OPTIONAL)
- KNN - ML model - predict whichever value seems the most similar based on neighbors
- Iterative Imputation - regression model to predict which value

In [52]:
const_imputed = df.fillna(0)
# const_imputed

In [53]:
# does not give the best results
# because each column need separate attention
# each column is of a different type

In [54]:
df[['Quantity'	,'Price']].median()

df[['Quantity'	,'Price']].mode()

df[['Quantity'	,'Price']].mean()

mode_product = df['Product'].mode()[0]
df['Product'].fillna(mode_product)

0         Laptop
2     Smartphone
3         Laptop
4     Smartwatch
6         Laptop
7        Monitor
9          Mouse
10        Laptop
11    Smartwatch
12    Headphones
13        Laptop
15        Laptop
16       Monitor
18      Keyboard
19         Mouse
Name: Product, dtype: str

In [55]:
# we should not do this --- because it is easy in this toy example, might not be this easy in a 10K record dataset
price_smartwatch = df[df["Transaction ID"] == 1012].Price[11]
price_smartwatch # 200 
df.Price.fillna(price_smartwatch)

# generally for continous numerical colummns, filling with mean is a good strategy
df.Price.mean()

np.float64(567.8571428571429)

- When implementing imputation, generally each column should be imputed separately
- Over type conversions
-

In [56]:
mode_quantity = df['Quantity'].mode()[0].round(0)
mean_price = df.Price.mean().round(0)
mode_product = df['Product'].mode()[0]

##### Method 1: ---- Simple Imputation

In [67]:
# in simple imputation you actually choose one central tendendy, and implement it on the data

df1 = df.copy()
numdf = df1[['Quantity'	,'Price']]

from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy= 'median')

numdf_filled = imputer.fit_transform(numdf)
pd.DataFrame(numdf_filled)

# imputer.fit_transform(num_df[['Quantity'	,'Price']])

# numdf.info()

      0       1
0   1.0  1200.0
1   5.0   800.0
2   1.0  1200.0
3   2.0   300.0
4   1.0  1200.0
5   2.0   300.0
6   1.0    50.0
7   1.0  1200.0
8  -1.0   200.0
9   2.0   150.0
10  1.0     0.0
11  2.0  1200.0
12  2.0   300.0
13  2.0   100.0
14  1.5    50.0

In [58]:
# this would update our real dataframe
# df['Product'].fillna(mode_product, inplace= True)
# df['Quantity'].fillna(mode_quantity, inplace= True)
# df['Price'].fillna(mean_price, inplace= True)

# inplace argument, does not work on individual columns ----- throws warning and doesn't work

df2 = df.copy()

new_Product = df['Product'].fillna(mode_product)
new_Quantity = df['Quantity'].fillna(mode_quantity)
new_Price = df['Price'].fillna(mean_price)


df2.Product = new_Product
df2.Quantity = new_Quantity
df2.Price = new_Price

df2

,Transaction ID,Customer Name,Email,Product,Quantity,Price,Purchase Date,Delivery Status
0,1001,Alice Smith,alice@example.com,Laptop,1.0,1200.0,2024-09-15,True
2,1003,Charlie Johnson,charlie#example.com,Smartphone,5.0,800.0,16/09/2024,True
3,1004,David Lee,david.lee@example.com,Laptop,1.0,1200.0,2024-09-17,False
4,1005,Eve Martinez,eve.martinez@example.com,Smartwatch,2.0,568.0,17th Sep 2024,True
6,1007,23,grace.lee@example.com,Laptop,1.0,1200.0,2024-09-19,True
7,1008,Hank Brown,hank.brown@example.com,Monitor,2.0,300.0,09/19/2024,True
9,1010,Jack Davis,jack@example.com,Mouse,1.0,50.0,2024-09-21,True
10,1011,Alice Smith,alice@example.com,Laptop,1.0,1200.0,2024-09-15,True
11,1012,Kurt Evans,kurt.evans@example.com,Smartwatch,-1.0,200.0,2024-09-22,True
12,1013,Liam Adams,liam.adams@example.com,Headphones,2.0,150.0,2024-09-23,False
13,1014,Mia Clark,mia.clark@example.com,Laptop,1.0,0.0,2024-09-24,True
15,1016,Oscar Harris,oscar.harris@example.com,Laptop,2.0,1200.0,2024-09-25,True
16,1017,Paul Young,paulyoung,Monitor,2.0,300.0,09/25/2024,True
18,1019,Rachel Scott,rachel.scott@example.com,Keyboard,2.0,100.0,2024-09-27,True
19,1020,Steve King,steve.king@example.com,Mouse,1.0,50.0,2024-09-28,True

### Dictionary Based Fill --- Impute Strategy
-
```py
imputation_values = {
    'Price': df.Price.mean().round(0),
    'Quantity': df['Quantity'].mode()[0].round(0) ,
    'Product': df['Product'].mode()[0] 
}

##### Method 2: -------------- Strategy imputation

In [59]:
# this is our imputation strategy
imputation_values = {
    'Price': mean_price,
    'Quantity': mode_quantity ,
    'Product': mode_product 
}

In [60]:
# actual imputation into the dataframe

df_filled = df.fillna(value= imputation_values)

df_filled.isnull().sum()

Transaction ID     0
Customer Name      0
Email              0
Product            0
Quantity           0
Price              0
Purchase Date      0
Delivery Status    0
dtype: int64

In [ ]:
df2 = df.copy()
df2

from sklearn.compose import ColumnTransformer

num_cols = ['Quantity', 'Price']
cat_cols = ['Product']

imputer = ColumnTransformer(transformers =
                            [
                                ('num', SimpleImputer(strategy= 'median'),            num_cols),
                                ('cat', SimpleImputer(strategy= 'most_frequent'),     cat_cols),
                            ])

df_imputed2 = imputer.fit_transform(df2)
df_imputed2 = pd.DataFrame(df_imputed2)
df_imputed2

      0       1           2
0   1.0  1200.0      Laptop
1   5.0   800.0  Smartphone
2   1.0  1200.0      Laptop
3   2.0   300.0  Smartwatch
4   1.0  1200.0      Laptop
5   2.0   300.0     Monitor
6   1.0    50.0       Mouse
7   1.0  1200.0      Laptop
8  -1.0   200.0  Smartwatch
9   2.0   150.0  Headphones
10  1.0     0.0      Laptop
11  2.0  1200.0      Laptop
12  2.0   300.0     Monitor
13  2.0   100.0    Keyboard
14  1.5    50.0       Mouse