# $Data Cleaning-Part-3$

Lesson Outlines:

0. Exploratory Data Analysis

1. Handling Missing Values
2. Removing Duplicates
3. Fixing Data Types
4. Handling Outliers
    - Normalization
    - Variance, Standard Deviation, Distributions
    - Stardardization

- To simulate errors and clean the data, we will use a artificial hand made example:

- [Read about Statistics](https://www.geeksforgeeks.org/maths/introduction-to-statistics/)
- [Read about Outliers](https://www.geeksforgeeks.org/machine-learning/what-are-outliers-in-data/)

In [25]:
# Sample dataset of e-commerce transactions
# Create a dictionary of multiple data items
data = [
    {"Transaction ID": 1001, "Customer Name": "Alice Smith",    "Email": "alice@example.com",         "Product": "Laptop", "Quantity": 1,     "Price": 1200.00, "Purchase Date": "2024-09-15", "Delivery Status": True},
    {"Transaction ID": 1002, "Customer Name": "Bob Jones",       "Email": None,                       "Product": "Headphones", "Quantity": 2, "Price": 150.00, "Purchase Date": "2024-09-16", "Delivery Status": True},
    {"Transaction ID": 1003, "Customer Name": "Charlie Johnson", "Email": "charlie#example.com",       "Product": "Smartphone", "Quantity": 5, "Price": 800.00, "Purchase Date": "16/09/2024", "Delivery Status": True},
    {"Transaction ID": 1004, "Customer Name": "David Lee",       "Email": "david.lee@example.com",    "Product": "Laptop", "Quantity": 1,    "Price": 1200.00, "Purchase Date": "2024-09-17", "Delivery Status": False},
    {"Transaction ID": 1005, "Customer Name": "Eve Martinez",    "Email": "eve.martinez@example.com", "Product": "Smartwatch", "Quantity": 2,"Price": None, "Purchase Date": "17th Sep 2024", "Delivery Status": True},
    {"Transaction ID": 1006, "Customer Name": "Frank Wright",    "Email": None,                       "Product": "Tablet", "Quantity": None, "Price": 600.00, "Purchase Date": "2024-09-18", "Delivery Status": False},
    {"Transaction ID": 1007, "Customer Name": 23,                "Email": "grace.lee@example.com",   "Product": "Laptop", "Quantity": 1,    "Price": 1200.00, "Purchase Date": "2024-09-19", "Delivery Status": True},
    {"Transaction ID": 1008, "Customer Name": "Hank Brown",      "Email": "hank.brown@example.com",   "Product": "Monitor", "Quantity": 2,   "Price": 300.00, "Purchase Date": "09/19/2024", "Delivery Status": True},
    {"Transaction ID": 1009, "Customer Name": "Ivy Thompson",    "Email": None,                        "Product": "Keyboard", "Quantity": 2, "Price": 100.00, "Purchase Date": "2024/09/20", "Delivery Status": False},
    {"Transaction ID": 1010, "Customer Name": "Jack Davis",      "Email": "jack@example.com",         "Product": "Mouse", "Quantity": 1,     "Price": 50.00, "Purchase Date": "2024-09-21", "Delivery Status": True},
    {"Transaction ID": 1005, "Customer Name": "Eve Martinez",    "Email": "eve.martinez@example.com", "Product": "Smartwatch", "Quantity": 2,"Price": None, "Purchase Date": "17th Sep 2024", "Delivery Status": True}, # Duplicate entry
    {"Transaction ID": 1011, "Customer Name": "Alice Smith",    "Email": "alice@example.com",         "Product": "Laptop", "Quantity": 1,    "Price": 1200.00, "Purchase Date": "2024-09-15", "Delivery Status": True},  
    {"Transaction ID": 1012, "Customer Name": "Kurt Evans",     "Email": "kurt.evans@example.com",     "Product": "Smartwatch","Quantity": -1,"Price": 200.00, "Purchase Date": "2024-09-22", "Delivery Status": True},  # Outlier quantity
    {"Transaction ID": 1013, "Customer Name": "Liam Adams",     "Email": "liam.adams@example.com",    "Product": "Headphones", "Quantity": 2, "Price": 150.00, "Purchase Date": "2024-09-23", "Delivery Status": False},
    {"Transaction ID": 1014, "Customer Name": "Mia Clark",       "Email": "mia.clark@example.com",     "Product": None, "Quantity": 1,        "Price": 0,      "Purchase Date": "2024-09-24", "Delivery Status": True},  # Price anomaly
    {"Transaction ID": 1005, "Customer Name": "Eve Martinez",    "Email": "eve.martinez@example.com", "Product": "Smartwatch", "Quantity": 2,"Price": None, "Purchase Date": "17th Sep 2024", "Delivery Status": True}, # Duplicate entry    {"Transaction ID": 1015, "Customer Name": "Nina Turner",     "Email": None,                         "Product": "Tablet", "Quantity": 1,     "Price": 600.00, "Purchase Date": "24-09-2024", "Delivery Status": True},
    {"Transaction ID": 1016, "Customer Name": "Oscar Harris",    "Email": "oscar.harris@example.com",  "Product": "Laptop", "Quantity": 2,    "Price": 1200.00, "Purchase Date": "2024-09-25", "Delivery Status": True},
    {"Transaction ID": 1017, "Customer Name": "Paul Young",     "Email": "paulyoung",                  "Product": "Monitor", "Quantity": 2,   "Price": 300.00, "Purchase Date": "09/25/2024", "Delivery Status": True},
    {"Transaction ID": 1018, "Customer Name": "Quinn Lopez",    "Email": None,                         "Product": "Smartphone", "Quantity": 1,"Price": 800.00, "Purchase Date": "2024-09-26", "Delivery Status": False},
    {"Transaction ID": 1019, "Customer Name": "Rachel Scott",    "Email": "rachel.scott@example.com",  "Product": "Keyboard", "Quantity": 2,  "Price": 100.00, "Purchase Date": "2024-09-27", "Delivery Status": True},
    {"Transaction ID": 1020, "Customer Name": "Steve King",     "Email": "steve.king@example.com",     "Product": "Mouse", "Quantity": None,  "Price": 50.00, "Purchase Date": "2024-09-28", "Delivery Status": True},
]

# Displaying the dataset
import pandas as pd

# Convert the list of dictionaries to a DataFrame for easier visualization and manipulation
df = pd.DataFrame(data)
df.head()

,Transaction ID,Customer Name,Email,Product,Quantity,Price,Purchase Date,Delivery Status
0,1001,Alice Smith,alice@example.com,Laptop,1.0,1200.0,2024-09-15,True
1,1002,Bob Jones,NaN,Headphones,2.0,150.0,2024-09-16,True
2,1003,Charlie Johnson,charlie#example.com,Smartphone,5.0,800.0,16/09/2024,True
3,1004,David Lee,david.lee@example.com,Laptop,1.0,1200.0,2024-09-17,False
4,1005,Eve Martinez,eve.martinez@example.com,Smartwatch,2.0,NaN,17th Sep 2024,True

## **Outlier Handling**
- **IQR method**:

In [40]:
import pandas as pd

df = pd.DataFrame({
    'age':         [24,25,26,27,28,29,25,26,21,21,24,22,65],
    'temperature': [19,20,22,35,31,30,29,33,26,26,27,29,56,],
    'amount': [x for x in range(1,14)]
})

df

    age  temperature  amount
0    24           19       1
1    25           20       2
2    26           22       3
3    27           35       4
4    28           31       5
5    29           30       6
6    25           29       7
7    26           33       8
8    21           26       9
9    21           26      10
10   24           27      11
11   22           29      12
12   65           56      13

In [41]:
# basic pandas filtering
# I knew what the range should be
# i knew what the Lower limit and Upper limit should

df_age = df[(df['age'] < 30) & (df['age'] >20)] # should only have normal values 
df_age

    age  temperature  amount
0    24           19       1
1    25           20       2
2    26           22       3
3    27           35       4
4    28           31       5
5    29           30       6
6    25           29       7
7    26           33       8
8    21           26       9
9    21           26      10
10   24           27      11
11   22           29      12

- data----> increasing order ----> break into 4 parts ---- quarters ----
- From 100% of the data if you are taking only the:
    - first 25% ----> First Quantile 
    - first 50% ----> Second Quantile 
    - first 75% ----> Third Quantile
    - first 100% ----> Fourth Quantile 

- A range of valid data:
    - IQR - Inter Quartile Range
    - from 25% to 75%
    - rest treat them as outliers

In [42]:
Q1 = df['amount'].quantile(0.25) # first quantile /quarter

Q2 = df['amount'].quantile(0.50) # Second quantile /quarter

Q3 = df['amount'].quantile(0.75)# third quantile /quarter

IQR = Q3 - Q1

In [43]:
# Defining Boundaries
lower_limit = Q1 - 1.5 * IQR
upper_limit = Q3 + 1.5 * IQR

outliers = df[(df['amount'] < lower_limit) | (df['amount'] > upper_limit)]
outliers

Empty DataFrame
Columns: [age, temperature, amount]
Index: []

In [44]:
Q1 = df['age'].quantile(0.25) # first quantile /quarter

Q2 = df['age'].quantile(0.50) # Second quantile /quarter

Q3 = df['age'].quantile(0.75)# third quantile /quarter

IQR = Q3 - Q1

In [45]:
# Defining Boundaries
lower_limit = Q1 - 1.5 * IQR
upper_limit = Q3 + 1.5 * IQR

outliers = df[(df['age'] < lower_limit) | (df['age'] > upper_limit)]
outliers['age']

12    65
Name: age, dtype: int64

In [46]:
Q1 = df['temperature'].quantile(0.25) # first quantile /quarter

Q2 = df['temperature'].quantile(0.50) # Second quantile /quarter

Q3 = df['temperature'].quantile(0.75)# third quantile /quarter

IQR = Q3 - Q1

In [47]:
# Defining Boundaries
lower_limit = Q1 - 1.5 * IQR
upper_limit = Q3 + 1.5 * IQR

outliers = df[(df['temperature'] < lower_limit) | (df['temperature'] > upper_limit)]
outliers['temperature']

12    56
Name: temperature, dtype: int64