# $Data Cleaning-Part-2$

Lesson Outlines:

0. Exploratory Data Analysis

1. Handling Missing Values
2. Removing Duplicates
3. Fixing Data Types
4. Handling Outliers
    - Normalization
    - Variance, Standard Deviation, Distributions
    - Stardardization

- To simulate errors and clean the data, we will use a artificial hand made example:

In [25]:
# Sample dataset of e-commerce transactions
# Create a dictionary of multiple data items
data = [
    {"Transaction ID": 1001, "Customer Name": "Alice Smith",    "Email": "alice@example.com",         "Product": "Laptop", "Quantity": 1,     "Price": 1200.00, "Purchase Date": "2024-09-15", "Delivery Status": True},
    {"Transaction ID": 1002, "Customer Name": "Bob Jones",       "Email": None,                       "Product": "Headphones", "Quantity": 2, "Price": 150.00, "Purchase Date": "2024-09-16", "Delivery Status": True},
    {"Transaction ID": 1003, "Customer Name": "Charlie Johnson", "Email": "charlie#example.com",       "Product": "Smartphone", "Quantity": 5, "Price": 800.00, "Purchase Date": "16/09/2024", "Delivery Status": True},
    {"Transaction ID": 1004, "Customer Name": "David Lee",       "Email": "david.lee@example.com",    "Product": "Laptop", "Quantity": 1,    "Price": 1200.00, "Purchase Date": "2024-09-17", "Delivery Status": False},
    {"Transaction ID": 1005, "Customer Name": "Eve Martinez",    "Email": "eve.martinez@example.com", "Product": "Smartwatch", "Quantity": 2,"Price": None, "Purchase Date": "17th Sep 2024", "Delivery Status": True},
    {"Transaction ID": 1006, "Customer Name": "Frank Wright",    "Email": None,                       "Product": "Tablet", "Quantity": None, "Price": 600.00, "Purchase Date": "2024-09-18", "Delivery Status": False},
    {"Transaction ID": 1007, "Customer Name": 23,                "Email": "grace.lee@example.com",   "Product": "Laptop", "Quantity": 1,    "Price": 1200.00, "Purchase Date": "2024-09-19", "Delivery Status": True},
    {"Transaction ID": 1008, "Customer Name": "Hank Brown",      "Email": "hank.brown@example.com",   "Product": "Monitor", "Quantity": 2,   "Price": 300.00, "Purchase Date": "09/19/2024", "Delivery Status": True},
    {"Transaction ID": 1009, "Customer Name": "Ivy Thompson",    "Email": None,                        "Product": "Keyboard", "Quantity": 2, "Price": 100.00, "Purchase Date": "2024/09/20", "Delivery Status": False},
    {"Transaction ID": 1010, "Customer Name": "Jack Davis",      "Email": "jack@example.com",         "Product": "Mouse", "Quantity": 1,     "Price": 50.00, "Purchase Date": "2024-09-21", "Delivery Status": True},
    {"Transaction ID": 1005, "Customer Name": "Eve Martinez",    "Email": "eve.martinez@example.com", "Product": "Smartwatch", "Quantity": 2,"Price": None, "Purchase Date": "17th Sep 2024", "Delivery Status": True}, # Duplicate entry
    {"Transaction ID": 1011, "Customer Name": "Alice Smith",    "Email": "alice@example.com",         "Product": "Laptop", "Quantity": 1,    "Price": 1200.00, "Purchase Date": "2024-09-15", "Delivery Status": True},  
    {"Transaction ID": 1012, "Customer Name": "Kurt Evans",     "Email": "kurt.evans@example.com",     "Product": "Smartwatch","Quantity": -1,"Price": 200.00, "Purchase Date": "2024-09-22", "Delivery Status": True},  # Outlier quantity
    {"Transaction ID": 1013, "Customer Name": "Liam Adams",     "Email": "liam.adams@example.com",    "Product": "Headphones", "Quantity": 2, "Price": 150.00, "Purchase Date": "2024-09-23", "Delivery Status": False},
    {"Transaction ID": 1014, "Customer Name": "Mia Clark",       "Email": "mia.clark@example.com",     "Product": None, "Quantity": 1,        "Price": 0,      "Purchase Date": "2024-09-24", "Delivery Status": True},  # Price anomaly
    {"Transaction ID": 1005, "Customer Name": "Eve Martinez",    "Email": "eve.martinez@example.com", "Product": "Smartwatch", "Quantity": 2,"Price": None, "Purchase Date": "17th Sep 2024", "Delivery Status": True}, # Duplicate entry    {"Transaction ID": 1015, "Customer Name": "Nina Turner",     "Email": None,                         "Product": "Tablet", "Quantity": 1,     "Price": 600.00, "Purchase Date": "24-09-2024", "Delivery Status": True},
    {"Transaction ID": 1016, "Customer Name": "Oscar Harris",    "Email": "oscar.harris@example.com",  "Product": "Laptop", "Quantity": 2,    "Price": 1200.00, "Purchase Date": "2024-09-25", "Delivery Status": True},
    {"Transaction ID": 1017, "Customer Name": "Paul Young",     "Email": "paulyoung",                  "Product": "Monitor", "Quantity": 2,   "Price": 300.00, "Purchase Date": "09/25/2024", "Delivery Status": True},
    {"Transaction ID": 1018, "Customer Name": "Quinn Lopez",    "Email": None,                         "Product": "Smartphone", "Quantity": 1,"Price": 800.00, "Purchase Date": "2024-09-26", "Delivery Status": False},
    {"Transaction ID": 1019, "Customer Name": "Rachel Scott",    "Email": "rachel.scott@example.com",  "Product": "Keyboard", "Quantity": 2,  "Price": 100.00, "Purchase Date": "2024-09-27", "Delivery Status": True},
    {"Transaction ID": 1020, "Customer Name": "Steve King",     "Email": "steve.king@example.com",     "Product": "Mouse", "Quantity": None,  "Price": 50.00, "Purchase Date": "2024-09-28", "Delivery Status": True},
]

# Displaying the dataset
import pandas as pd

# Convert the list of dictionaries to a DataFrame for easier visualization and manipulation
df = pd.DataFrame(data)
df.head()

,Transaction ID,Customer Name,Email,Product,Quantity,Price,Purchase Date,Delivery Status
0,1001,Alice Smith,alice@example.com,Laptop,1.0,1200.0,2024-09-15,True
1,1002,Bob Jones,NaN,Headphones,2.0,150.0,2024-09-16,True
2,1003,Charlie Johnson,charlie#example.com,Smartphone,5.0,800.0,16/09/2024,True
3,1004,David Lee,david.lee@example.com,Laptop,1.0,1200.0,2024-09-17,False
4,1005,Eve Martinez,eve.martinez@example.com,Smartwatch,2.0,NaN,17th Sep 2024,True

### **Duplicates**
- **Exact Duplicates**: 
    - Every single column in a row A is identical to row B
    - Often because of a *glitch* e.g. the user clicked on *submit form* 3 times, checked out from cart 4 times because of impatience. 
    - Easy to flag these

- **Partial Duplicates**:
    - Only specific columns match in the rows.
    - A bit more dangerous, because these can look like unique records

In [26]:
# check for duplicates

df.duplicated().sum() # the number of duplicate records

np.int64(2)

In [27]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Transaction ID   21 non-null     int64
 1   Customer Name    21 non-null     object
 2   Email            17 non-null     str
 3   Product          20 non-null     str
 4   Quantity         19 non-null     float64
 5   Price            18 non-null     float64
 6   Purchase Date    21 non-null     str
 7   Delivery Status  21 non-null     bool
dtypes: bool(1), float64(2), int64(1), object(1), str(3)
memory usage: 1.3+ KB

### Exact Duplicate Removal

In [28]:
# this can help remove exact duplicates

df_clean = df.drop_duplicates()
df_clean.info()

<class 'pandas.DataFrame'>
Index: 19 entries, 0 to 20
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Transaction ID   19 non-null     int64
 1   Customer Name    19 non-null     object
 2   Email            15 non-null     str
 3   Product          18 non-null     str
 4   Quantity         17 non-null     float64
 5   Price            18 non-null     float64
 6   Purchase Date    19 non-null     str
 7   Delivery Status  19 non-null     bool
dtypes: bool(1), float64(2), int64(1), object(1), str(3)
memory usage: 1.2+ KB

In [29]:
df.drop_duplicates(inplace= True)
df.info()

<class 'pandas.DataFrame'>
Index: 19 entries, 0 to 20
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Transaction ID   19 non-null     int64
 1   Customer Name    19 non-null     object
 2   Email            15 non-null     str
 3   Product          18 non-null     str
 4   Quantity         17 non-null     float64
 5   Price            18 non-null     float64
 6   Purchase Date    19 non-null     str
 7   Delivery Status  19 non-null     bool
dtypes: bool(1), float64(2), int64(1), object(1), str(3)
memory usage: 1.2+ KB

In [30]:
df

,Transaction ID,Customer Name,Email,Product,Quantity,Price,Purchase Date,Delivery Status
0,1001,Alice Smith,alice@example.com,Laptop,1.0,1200.0,2024-09-15,True
1,1002,Bob Jones,NaN,Headphones,2.0,150.0,2024-09-16,True
2,1003,Charlie Johnson,charlie#example.com,Smartphone,5.0,800.0,16/09/2024,True
3,1004,David Lee,david.lee@example.com,Laptop,1.0,1200.0,2024-09-17,False
4,1005,Eve Martinez,eve.martinez@example.com,Smartwatch,2.0,NaN,17th Sep 2024,True
5,1006,Frank Wright,NaN,Tablet,NaN,600.0,2024-09-18,False
6,1007,23,grace.lee@example.com,Laptop,1.0,1200.0,2024-09-19,True
7,1008,Hank Brown,hank.brown@example.com,Monitor,2.0,300.0,09/19/2024,True
8,1009,Ivy Thompson,NaN,Keyboard,2.0,100.0,2024/09/20,False
9,1010,Jack Davis,jack@example.com,Mouse,1.0,50.0,2024-09-21,True
11,1011,Alice Smith,alice@example.com,Laptop,1.0,1200.0,2024-09-15,True
12,1012,Kurt Evans,kurt.evans@example.com,Smartwatch,-1.0,200.0,2024-09-22,True
13,1013,Liam Adams,liam.adams@example.com,Headphones,2.0,150.0,2024-09-23,False
14,1014,Mia Clark,mia.clark@example.com,NaN,1.0,0.0,2024-09-24,True
16,1016,Oscar Harris,oscar.harris@example.com,Laptop,2.0,1200.0,2024-09-25,True
17,1017,Paul Young,paulyoung,Monitor,2.0,300.0,09/25/2024,True
18,1018,Quinn Lopez,NaN,Smartphone,1.0,800.0,2024-09-26,False
19,1019,Rachel Scott,rachel.scott@example.com,Keyboard,2.0,100.0,2024-09-27,True
20,1020,Steve King,steve.king@example.com,Mouse,NaN,50.0,2024-09-28,True

In [31]:
# check for partial duplicates --------------- Remove
df['Email'].duplicated() # the number of duplicate records
new_email = df['Email'].drop_duplicates() # the number of duplicate records
new_email.info()


# if we fix the partial duplicates, the columns will be messed up
# and we will not be able to use them with the rest of the columns

<class 'pandas.Series'>
Index: 15 entries, 0 to 20
Series name: Email
Non-Null Count  Dtype
--------------  -----
14 non-null     str
dtypes: str(1)
memory usage: 240.0 bytes

### Partial Duplicate Removal

In [35]:
# There are partial duplicates still present in email
# df_clean.info() # 19 entries

df_clean.Email.info() #19 entries # 15 non-null

df_clean.Email.duplicated() 


df_clean.drop_duplicates(subset= ['Email']) # this works
df_clean.drop_duplicates(subset= ['Email'], inplace= True, keep= 'last')

<class 'pandas.Series'>
Index: 15 entries, 2 to 20
Series name: Email
Non-Null Count  Dtype
--------------  -----
14 non-null     str
dtypes: str(1)
memory usage: 240.0 bytes

In [36]:
df_clean

,Transaction ID,Customer Name,Email,Product,Quantity,Price,Purchase Date,Delivery Status
2,1003,Charlie Johnson,charlie#example.com,Smartphone,5.0,800.0,16/09/2024,True
3,1004,David Lee,david.lee@example.com,Laptop,1.0,1200.0,2024-09-17,False
4,1005,Eve Martinez,eve.martinez@example.com,Smartwatch,2.0,NaN,17th Sep 2024,True
6,1007,23,grace.lee@example.com,Laptop,1.0,1200.0,2024-09-19,True
7,1008,Hank Brown,hank.brown@example.com,Monitor,2.0,300.0,09/19/2024,True
9,1010,Jack Davis,jack@example.com,Mouse,1.0,50.0,2024-09-21,True
11,1011,Alice Smith,alice@example.com,Laptop,1.0,1200.0,2024-09-15,True
12,1012,Kurt Evans,kurt.evans@example.com,Smartwatch,-1.0,200.0,2024-09-22,True
13,1013,Liam Adams,liam.adams@example.com,Headphones,2.0,150.0,2024-09-23,False
14,1014,Mia Clark,mia.clark@example.com,NaN,1.0,0.0,2024-09-24,True
16,1016,Oscar Harris,oscar.harris@example.com,Laptop,2.0,1200.0,2024-09-25,True
17,1017,Paul Young,paulyoung,Monitor,2.0,300.0,09/25/2024,True
18,1018,Quinn Lopez,NaN,Smartphone,1.0,800.0,2024-09-26,False
19,1019,Rachel Scott,rachel.scott@example.com,Keyboard,2.0,100.0,2024-09-27,True
20,1020,Steve King,steve.king@example.com,Mouse,NaN,50.0,2024-09-28,True

In [ ]:
df_clean.reset_index(drop=True) # drop the previous indexes ---- don't record them

,Transaction ID,Customer Name,Email,Product,Quantity,Price,Purchase Date,Delivery Status
0,1003,Charlie Johnson,charlie#example.com,Smartphone,5.0,800.0,16/09/2024,True
1,1004,David Lee,david.lee@example.com,Laptop,1.0,1200.0,2024-09-17,False
2,1005,Eve Martinez,eve.martinez@example.com,Smartwatch,2.0,NaN,17th Sep 2024,True
3,1007,23,grace.lee@example.com,Laptop,1.0,1200.0,2024-09-19,True
4,1008,Hank Brown,hank.brown@example.com,Monitor,2.0,300.0,09/19/2024,True
5,1010,Jack Davis,jack@example.com,Mouse,1.0,50.0,2024-09-21,True
6,1011,Alice Smith,alice@example.com,Laptop,1.0,1200.0,2024-09-15,True
7,1012,Kurt Evans,kurt.evans@example.com,Smartwatch,-1.0,200.0,2024-09-22,True
8,1013,Liam Adams,liam.adams@example.com,Headphones,2.0,150.0,2024-09-23,False
9,1014,Mia Clark,mia.clark@example.com,NaN,1.0,0.0,2024-09-24,True
10,1016,Oscar Harris,oscar.harris@example.com,Laptop,2.0,1200.0,2024-09-25,True
11,1017,Paul Young,paulyoung,Monitor,2.0,300.0,09/25/2024,True
12,1018,Quinn Lopez,NaN,Smartphone,1.0,800.0,2024-09-26,False
13,1019,Rachel Scott,rachel.scott@example.com,Keyboard,2.0,100.0,2024-09-27,True
14,1020,Steve King,steve.king@example.com,Mouse,NaN,50.0,2024-09-28,True

### **Type Errors in Data**
-