In [ ]:
print(1+2+3+4+5)

15

Write text here:
- is not taken as python code
- only things written in code cell, will be taken as python code

print(1+2+3+4+5)


Python Notebooks:
- Write Python code in CODE cell
- Write text in TEXT cell

In [ ]:
1+2+3+4+5

15

# what is this TEXT cell

# A little about python basics

- i am multiplying two numbers

In [ ]:
123 * 83 # comments are pieces of text, that python does not take as code (instructions)

10209

### PYTHON is an interpreted language

- is executed line by line
- you don't have to compile the whole program before running it

$COMPILER$ - Like a translator that rewrites the whole of the SPANISH book in ENGLISH, and then reads it

$INTERPRETER$ - Like a Live translator, that translates every Spainsh line and reads it in English

# Heading
## Heading smaller
### Sub Heading
#### Sub Heading Smaller
##### Sub Heading Smaller Smaller
###### Sub Heading Smaller Smaller


- Markdown Language - Documentation Purpose

1. Numbered Bullets
2. Numbered Bullets
3. Numbered Bullets

- ***BOLD Italic*** a piece of text
- **BOLD** a piece of text
- *Italic* a piece of text

---

# **PYTHON BASICS**

In [ ]:
print('Hello World!!')

Hello World!!

1. Variables
2. Data Types
3. Operators

### Variables
- are simply storage boxes - to store data

- are reserved memory locations to store values

In [ ]:
variable_name = 10 # Integer     int
# python assigns type to the variables automatically


variable_text = 'idrees' # String    str # single quotes or double quotes for string


# create a small student database
student1_name = 'idrees'
student1_rollno = 1

student2_name = 'Nadirah'
student2_rollno = 2

student3_name = 'Saufi'
student3_rollno = 3

student1_name = 'Haziq'
student1_rollno = 1

stu_rno = 1
stu_name = 'idrees'


t = 0# temp or is it time

temp = 0# temperature or temporary

time = 0

temperature = 0

temp = 0# temporary

In [ ]:
print(student2_name)  # printing a variable
print(student1_name) # printing a string

# we can overwrite the variables

Nadirah
Haziq

In [ ]:
x = 10

#1x = 10 # will not work

a10 = 19

#&10 = 19 # symbols have meanings

_x = 23

Whenever creating variables, write proper names.

Write full names whenever possible

Cannot start with numbers or symbols (special characters)

Rules: are more decorative or meant for readable code
1. use proper names for readability
2. use snake_case - lowercase with words separated by underscore - Function names and variable names
3. camelCase for class names
4. can use underscores or lowercase letters
5. Constant for whole program - capital letters with underscores separating words MAX_TOTAL = 1000

### Printing variables

In [ ]:
# want to print variables in a certain format


print("The name of the student 1 is",student1_name)

print("The name of the student 2 is",student2_name,'and the roll number is ', student2_rollno)


# formatted strings
print(f"The name of the student 1 is {student1_name}")

print(f"The name of the student 3 is {student3_name} and the roll number is {student3_rollno}")

print("The name of the student 3 is {} and the roll number is {}".format(student3_name, student3_rollno))

The name of the student 1 is Haziq
The name of the student 2 is Nadirah and the roll number is  2
The name of the student 1 is Haziq
The name of the student 3 is Saufi and the roll number is 3
The name of the student 3 is Saufi and the roll number is 3

### Exercise:
- Use variables to store all numbers
- Output: `The sum of 2 and 3 is 5`

In [ ]:
# we can ask users for input

x = input("Enter a number")

Enter a number10

In [ ]:
type(x) # to check the data type

'10'

In [ ]:
# print or type - these are inbuilt functions


# type casting or type conversions in python as well

y = int(x)
y

# Created A MINI SUM Calculator
number1 = int(input("Enter first number:"))
number2 = int(input("Enter second number:"))
sum = number1 + number2
print(f"The sum of {number1} and {number2} is {sum}")

Enter first number:9
Enter second number:8
The sum of 9 and 8 is 17

In [ ]:
# Created A MINI Calculator
number1 = int(input("Enter first number:"))
number2 = int(input("Enter second number:"))

sum = number1 + number2
mul = number1 * number2
sub = number1 - number2
div = number1 / number2
fdiv = number1//number2 # rounds off the number to the smaller value
mod = number1 % number2 # Remainder

print(f"For the numbers: {number1} and {number2} \nSum: {sum}\nSubtraction: {sub}\nMultiplication: {mul}\nDivision: {div}")
print(f"Floor Division:{fdiv}")
print(f"Modular Division:{mod}")

Enter first number:10
Enter second number:3
For the numbers: 10 and 3
Sum: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division:3
Modular Division:1

---
RESOURCES
- https://www.youtube.com/watch?v=K5KVEU3aaeQ
- https://www.w3schools.com/python/
- https://www.datacamp.com/courses/intro-to-python-for-data-science
-