# $Statistics$

- [Read about Statistics](https://www.geeksforgeeks.org/maths/introduction-to-statistics/)
- [Read about Outliers](https://www.geeksforgeeks.org/machine-learning/what-are-outliers-in-data/)

We would need to know these:
- Stardardization - 
    - Take data, and calculate z-scores of all data points
    - only shift the mean to 0 and data is scaled too
    - there are no specific upper and lower bounds on data
    - the shape of data, distribution does not change 
- Normalization -
    - is a scaling operation 
    - the upper limit and lower limit is set to: 0 to 1 or -1 to 1
    - the shape of data, distribution does not change
    
- Variance, Standard Deviation, Distributions

In [35]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

data = {
    'age': [10,20,30,40,50],
    'salary': [10000,20000,30000,40000,50000]
}

df = pd.DataFrame(data)
df

   age  salary
0   10   10000
1   20   20000
2   30   30000
3   40   40000
4   50   50000

### Measure of Central Tendency
- what lies at the centre of the data
- what is the main part of data
-

In [36]:
df.mean()

df.median()

df.mode().iloc[0]

age          10
salary    10000
Name: 0, dtype: int64

### Measure of Dispersion (Spread)
- Range
    - taking the `max - min`
- Variance 
    - $\sigma^{2}$ - (data - mean )/ N 
    - Variance is a huge number
    - There is no standardization in data, variance cannot really help us understand how spread out data is
    - 
- Standard Deviation 
    - $\sigma$ - square root of variance
    - this defines the window size, and if std is larger, data is spread about a lot

In [37]:
df.var()

df.std()

age          15.811388
salary    15811.388301
dtype: float64

### Scaling  - A part of Feature Engineering(data pre-processing)
1. **Standardization** 
- z = {frac\{$data$ - $\mu} / \sigma$}

- data - mean / std. dev
- if we standardize data, then look at the values, we can tell the dispersion by looking at how zscores are spread
- larger zscores i.e closer to 3 or more, means greater spread

- it makes sure that mean of whole data becomes 0
- Standard Deviation becomes 1


2. **Normalization**
- data_new = data - data_min / data_max - data_min
- 
- you squish the data between :
    - 0 to 1
    - or -1 to 1

In [38]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

std_scaler = StandardScaler()
minmax_scaler = MinMaxScaler()


standardized_df = pd.DataFrame(std_scaler.fit_transform(df), columns= df.columns)
standardized_df

normalized_df = pd.DataFrame(minmax_scaler.fit_transform(df), columns= df.columns)
normalized_df

    age  salary
0  0.00    0.00
1  0.25    0.25
2  0.50    0.50
3  0.75    0.75
4  1.00    1.00

In [39]:
data = {
    'age': [10,20,30,40,100],
    'salary': [10000,20000,30000,40000,50000]
}

df = pd.DataFrame(data)
df

   age  salary
0   10   10000
1   20   20000
2   30   30000
3   40   40000
4  100   50000

In [40]:
print(int(standardized_df.age.std()))

1

### Distributions
- Normal Distribution


- Skew
![](https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcRUsApC8eVua4H65Uwh3mqCCwWp3En1KUwjeeolH2TF1XwZcZcqItRYfSZdKdz8SfVTP_Cs9lgOr3ZAYZn05cry9Wba0vfTW09GiUQZAK7nYNDFCvw)

### CoVariance and Corelation