# CONDITIONALS

- conditions for our programs to run

- you can choose whether you run a program or not based on, if a certain condition is being met

- Conditions are implemented using conditional statements:
    - if
    - elif
    - else

- syntax:

``` python
if (condition):
    <code goes here>
```

In [7]:
print("I am Idrees")

if 5 == 6:
    print("I am from Kashmir!")


if 5 == 6:
    print("I am from Kashmir!")
elif 5 == 12/2:
    print("I am from Kuala Lumpur")
else:
    print("be kati aaas!!") # where did i come from

I am Idrees
be kati aaas!!

In [ ]:
if 5 == 5: print("I am from Kashmir!")

I am from Kashmir!

In [9]:
x = 10
y = 10

if x == y:
    print("I am from Kashmir!")
elif x > y:
    print("I am from Kuala Lumpur")
else:
    print("be kati aaas!!") # where did i come from

# Output:

I am from Kashmir!

## IF ELSE Ladder

In [ ]:
# You want to create a small program that assigns grades to people with different marks
# Grade calculator 

marks = 45

if marks > 90:
    grade = 'A+'
elif marks > 80:
    grade = 'A'
elif marks > 70:
    grade = 'B'
elif marks > 55:
    grade = 'C'
elif marks >= 45:
    grade = 'D'
else:
    grade = 'F'

print("The grade is: ",grade)

The grade is:  D

>### Exercise:

- Create a voting eligibility calculator : age >= 18

# **LOOPs**

Loops, help you execute programs repeatedly
- help you repeat actions, without repeating the code


- Two main loop types in python:
    - for
    - while


```python
for <variable> in <sequence>:
    # code block 
```

In [ ]:
for x in range(5):
    print(x)

0
1
2
3
4

In [ ]:
range(5) # creates a range object of 0 to 5
# 0 1 2 3 4

# iterable object

type(range(5))

range

### an iterable
- iterable object, that we can do iterations on
- identify them, by indexes - have indexes

**ITERABLES**: 
- range
- string
- list
- tuple
- dictionary (keys)

list[0]

In [ ]:
for x in "idrees":
    print(x)

# i d r e e s
# 0 1 2 3 4 5

i
d
r
e
e
s

- **`i`** was used traditionally for iterations
- i as in iteration

In [7]:
for i in range(10):
    print("idrees", i + 1 )

idrees 1
idrees 2
idrees 3
idrees 4
idrees 5
idrees 6
idrees 7
idrees 8
idrees 9
idrees 10

In [ ]:
name = "idrees"

for i in range(6):
    print(name[i])

i
d
r
e
e
s

### Loops with conditionals

In [13]:
for i in range(10):
    if 5 == 6:
        print("the number is: ",i)
    else:
        print("the number is:",i+100)

the number is: 100
the number is: 101
the number is: 102
the number is: 103
the number is: 104
the number is: 105
the number is: 106
the number is: 107
the number is: 108
the number is: 109

In [ ]:
for i in range(5):

    age = int(input("Please enter AGE:"))
    if age >= 18:
          eligibility = 'eligible'
    elif age <18:
         eligibility = 'not eligible'
    else:
          eligibility = 'not eligible' 
          
    print(f'Iter {i}: Age = {age}.  You are:{eligibility}')

Iter 0: Age = 44.  You are:eligible
Iter 1: Age = 2.  You are:not eligible
Iter 2: Age = 4.  You are:not eligible
Iter 3: Age = 45.  You are:eligible
Iter 4: Age = 5.  You are:not eligible

In [ ]:
"18" > 18

TypeError: '>' not supported between instances of 'str' and 'int'